/* about */
.about-section{
    max-width: 1036px;
    padding: 1rem 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    scroll-margin-top: 100px;
}

/* title */
.about-title{
    max-width: 150px;
    display: flex;
}

.about-title h4{
    font-size: 2rem;
    margin: 0;
    align-content: center;
}

/* text */
.about-text{
    max-width: 850px;
}

.about-text p{
    font-size: 1.4rem;
    margin: 0;
}

.resume-link{
    border: 1px solid rgb(139, 92, 246);
    padding: 6px 14px;
    border-radius: 12px;
    transition: all 0.3s ease;
    margin-top: 1rem;
    width: fit-content;
}

.resume-link:hover{
    background-color: rgb(139, 92, 246);
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(139, 92, 246, 0.4);

}

.resume-link a{
    text-decoration: none;
    color: rgb(139, 92, 246);
    transition: all ease 0.3s;
}

.resume-link:hover a{
    color: white;
}


/* diffrent size styles */
@media (max-width: 1100px){
    .about-section{
        display: block;
        margin: auto;
        margin-top: 3rem;
    }

    .about-title{
        margin-bottom: 1rem;
    }

    .about-text{
        max-width: 1036px;
    }
}

@media (max-width: 950px){
    .about-section{
        max-width: 600px;
    }

    .about-title h4{
        font-size: 1.8rem;
    }

    .about-text p{
        font-size: 1.2rem;
    }
}