/* about */
.about-section{
    max-width: 1036px;
    padding: 1rem 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    scroll-margin-top: 100px;
}

/* title */
.about-title{
    max-width: 150px;
    display: flex;
}

.about-title h4{
    font-size: 2rem;
    margin: 0;
    align-content: center;
}

/* text */
.about-text{
    max-width: 850px;
}

.about-text p{
    font-size: 1.4rem;
    margin: 0;
}

/* diffrent size styles */
@media (max-width: 1100px){
    .about-section{
        display: block;
        margin: auto;
        margin-top: 3rem;
    }

    .about-title{
        margin-bottom: 1rem;
    }

    .about-text{
        max-width: 1036px;
    }
}

@media (max-width: 950px){
    .about-section{
        max-width: 600px;
    }

    .about-title h4{
        font-size: 1.8rem;
    }

    .about-text p{
        font-size: 1.2rem;
    }
}