/* navbar */
.nav {
    position: sticky;
    top: 0;
    max-width: 1052px;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    background-color: #111b32;
    justify-content: space-between;
}

/* nav links (desktop) */
.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
}

.nav-links li a:hover {
    color: #8b5cf6;
}

/* hamburger button */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    transition: color 0.3s;
    color: white;
}
.hamburger-icon:hover {
    color: #8b5cf6;
}

/* mobile styles */
@media (max-width: 750px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 6px;
        background: #0b1121;
        flex-direction: column;
        width: 130px;
        padding: 1rem;
        display: none;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
