.projects-section{
    margin-top: 3rem;
    max-width: 1036px;
    padding: 1rem 2rem;
    scroll-margin-top: 100px;
}

.project-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1002px;
    gap: 40px;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    transition: border-color ease 0.3s;
}

.project-box:hover{
    border-color: rgba(139, 92, 246, 0.7);
}

.project-photo img{
    width: 200px;
    height: fit-content;
}

/* .project-body{
    width: 750px;
} */

.project-body h2{
    margin: 0;
    font-size: 1.8rem;
}

.project-body p{
    margin: 10px 0 20px 0;
}

.project-links p{
    margin-top: 5px;
    margin-bottom: 0;
}

.project-links p a{
    color: white;
}

.project-body a:hover{
    color: rgba(139, 92, 246, 0.7);
}

@media (max-width: 700px){
    .project-box{
        display: block;
    }

    .project-photo{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .project-photo img{
        width: 400px;
    }
}

@media (max-width: 500px){
    .project-photo img{
        width: 300px;
    }
}

@media (max-width: 420px){
    .project-photo img{
        width: 200px;
    }

    .project-body{
        font-size: 0.8rem;
    }
}